@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    /*tipo de letra debes importarlo*/
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 108px;
    background: #232424;
    font-weight: 700;
}

li {
    list-style: none;
}

ul {
    display: flex;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo img {
    margin-left: 30px;
    height: 108px;
    width: 154.34px;
}

.logo a {
    text-decoration: none;
    color: floralwhite;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: floralwhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a:hover {
    color: #fcf8f8; /* Cambia el color del texto al pasar el cursor sobre el enlace */
    transition: background-color 0.3s ease, color 0.3s ease;
    border-bottom: 2px solid #ece4e4;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.tittle {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(13, 13, 14);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 0 100px;
}

/* aquei las que giran  */

.sau {
    padding: 100px;
    background: white;
}

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    background-color: white;
    margin: 0 80px;
}

.box {
    height: 270px;
    width: 270px;
    background-size: cover;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.9s;
}

.box:hover {
    transform: rotateY(180deg);
}

.box:after {
    content: "";
    position: absolute;
    height: 80%;
    width: 80%;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    transform: rotateY(180deg);
    color: white;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
    z-index: 1;
    text-align: left;
    background-image: url(attr)(data-background-image);
    content: "Los talleres automotrices son establecimientos especializados en brindar servicios de mantenimiento, reparación y diagnóstico de vehículos automotores. Estos talleres juegan un papel fundamental en la industria automotriz, ya que permiten mantener y prolongar la vida útil de los automóviles, asegurando su correcto funcionamiento y seguridad en las carreteras.";

}

/* Additional styles for headings and paragraphs inside the boxes */
.box h4 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.box p {
    padding: 0 15px;
    font-size: 16px;
}


/* las que giran */
/* ........................................................................ */
.banner-container {
    width: 100%;
    overflow: hidden;
}

.banner {
    display: flex;
    animation: desplazar 20s linear infinite;
}

.banner img {
    width: 60%;
    height: auto;
    transition: transform 0.8s ease;
}

.banner img:hover {
    transform: translateX(0);
}

@keyframes desplazar {
    0% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(-100%);
    }


    100% {
        transform: translateX(0);
    }
}

/* ........................................................................ */

.price {

    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

article.contain {
    background: paleturquoise;
}

.contact {
    padding: 50px 0;
    background: #171717;
    align-content: center;
    justify-content: center;
}

.footer-section {
    display: flex;
    text-align: center;
}

.f-enlaces {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.f-enlaces a {
    color: aliceblue;
    text-decoration: none;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .tittle {
        margin-bottom: 0px;
        font-size: 40px;
    }

    .sau {
        height: 80vh;
        padding: 50px 0;
    }

    .about {
        height: 80vh;
        padding: 50px 0;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
    }

    .f-enlaces {
        display: none;
    }

    .navbar {
        display: none;
    }
}

/*---------------------------Aquí debajo va el FOOTER-----------------------*/

footer {
    grid-area: footer;
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
}

.container__footer{
    display: flex;
    
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    height: 100%;
    
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
.box__footer p{
    color: #7a7a7a;
}
.box__footer i{
    color: #7a7a7a;
}

/*---------------------------Aquí debajo va el FOOTER-----------------------*/