@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    margin: 0;
    padding:0;
    background: url(/images/inicio/imgmovprst.png)  no-repeat center top;
    background-size: cover ;/**/
    font-family:  sans-serif;
    height: 80vh;
    
}




.login-box{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 250px;
    height: 500px;
    color:rgb(21, 21, 18);
    top: 50%;
    left: 50%; /*posicion´*/
    position: absolute;
    transform: translate(-40%,-50%);
    box-sizing: border-box;
    padding: 70%px 30px;
   backdrop-filter: blur(4px);

}
.form{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(228, 228, 228, 0.493);
    border-radius: 10px;
    border: solid 1px rgb(145, 145, 145);
    padding: 20px 10px;
}
.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.form ul{
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 20px 0px;
}
.logo{
    margin: 0;
}


.login-box .avatar{
    width: 200px;/*especifica el ancho del area de contenido del elemento*//*especifica el alto del area de contenido del elemento*/
    border-radius: 50%;

}
.login-box .h1{
    margin:0%;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;


}
.login-box label{
    margin:0%; 
    padding: 0 px;
    font-weight: bold;
    display: block;

}
.login-box input{
    width: 100%;
}
.login-box input[ type="submit"]{
   
border: none;
outline: none;
height: 40px;
background: rgb(115, 14, 222);
color: #fff;    
font-size: 20px;
border-radius: 20px;
 
}
.login-box input[ type="text"],
.login-box input[ type="password"]{
border: none;
border-bottom: 1px solid rgb(160, 151, 151);
background: transparent;
backdrop-filter: blur(4px);
outline: none;
height: 40px;
color: black;
font-size: 18px;
border-radius: 30px;

}
li{
    list-style: none;
}
button{
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(173, 173, 173);
}
a{
    text-decoration: none;
    text-align: center;
}