@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 108px;
    background: #232424;
    font-weight: 700;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: floralwhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

}

.logo img {
  
    height: auto;
    border-radius: 80%;
    width: 45%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.logo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 20px;
}
.navbar {
    display: flex;
    margin-right: 10px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: floralwhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    color: #fcf8f8; /* Cambia el color del texto al pasar el cursor sobre el enlace */
    transition: background-color 0.3s ease, color 0.3s ease;
    border-bottom: 2px solid #ece4e4;
}

.content_header {
    background: paleturquoise;
    display: flex;
    width: 100%;
    height: 600px;
    padding-top: 90px;
    background: url(/images/planes/imgplan.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    justify-content: center;
    background-position-x: center;
}

.tittle {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(8, 8, 8);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: aliceblue;
    padding: 0 100px;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: white;
}

.box1 img,
.box2 img {
    height: 370px;
    width: 470px;
    background-size: cover;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px black (0, 0, 0, .3);
    margin: 20px;
}
.box-container img:hover {
    transform: translateY(-5px); /* Desplaza la imagen hacia arriba al pasar el cursor sobre ella */
    /* Agrega cualquier otra propiedad adicional que desees para personalizar el efecto */
    /* por ejemplo, puedes agregar una sombra o cambiar el brillo: */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    filter: brightness(90%);
  }





/*---------------------------Aquí debajo va el FOOTER-----------------------*/

footer{
    grid-area: footer;
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    height: 100%;
    
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
.box__footer p{
    color: #7a7a7a;
}
.box__footer i{
    color: #7a7a7a;
}

/*---------------------------Aquí debajo va el FOOTER-----------------------*/

