body{
    margin: 0;
    padding: 0;
    background: url(/images/estyleslogin/fondoLogin.jpg) no-repeat center top;
    background-size: cover; /**/
    font-family: sans-serif;
    height: 100vh;
}

/* clase login box */
.login-box{ 
    width: 320px;
    height: 420px;
    color: rgb(255, 249, 249);
    top: 51%;
    left: 50%; /*posicion*/
    position: absolute;
    transform: translate(-50% , -50%); /*posicion*/
    box-sizing: boorder-box;
    padding: 70px 30px;
    border-radius: 30px; /* border*/
} 
.login-box .avatar{
    width: 100px;/* especifica el ancho del area del contenido del avatar*/
    height: 100px;/* especifica el ancho del alto del contenido del avatar*/
    border-radius: 49%; /**/
    position: absolute;
    top: -50px;
    left: calc(50% - 50px); 
    object-fit: cover;
}
.login-box label{
    margin: 0;
    padding: 0;
    font-weight: oblique;
    display: block;
}
.login-box input{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="email"]{
    border: none;
    border-bottom: 1px solid rgb(24, 37, 97);
    background: transparent;
    outline: none;
    height: 20px;
    color: rgb(238, 229, 229);
    font-size: 15px;
    border-radius: 20px;
}

.login-box .login {
    color: rgb(226, 213, 211);
    background-color: rgb(24, 37, 97);
    display: block;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    /* font-weight: 700px; */
    text-align: center;
}