<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/categorias.css">
    <link rel="shortcut icon" href="./images/1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/57d17138c5.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/images/inicio/loguito..png">
    <title>etsa</title>
</head>

<body>

    <div class="head">
        <div class="logo">
            <img src="/images/inicio/2.png" alt="">
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/views/index.html">Inicio</a></li>
                <li><a href="/views/categorias.html">Categorias</a></li>
                <li><a href="/views/ofertas .html">Ofertas</a></li>
                <li><a href="/views/servicios.html">Servicios</a></li>
                <li><a href="/views/login.html">Mi Cuenta</a></li>
                <li><a href="https://www.mercadolibre.com.co/#from=homecom" target="_blank">
                        <i class="fa-sharp fa-solid fa-car"></i></a>
                </li>
            </ul>
        </nav>
    </div>

    <main>
        <section class="content sau">
            <div class="banner-container">
                <div class="banner">
                    <img src="/images/productos/imgtaller.jpeg" alt="Banner 1">
                    <img src="/images/productos/imgtaller.jpg" alt="Banner 2">
                    <img src="/images/productos/imgtaller3.jpg" alt="Banner 3">
                    <img src="/images/productos/imgtaller4.jpg" alt="Banner 4">
                    <img src="/images/productos/imgtaller5.jpg" alt="Banner 5">
                    <img src="/images/productos/imgtaller4.jpg" alt="Banner 5">
                    <img src="/images/productos/imgtaller.jpeg" alt="Banner 5">
                </div>
            </div>
        </section>


        <section class="content sau">
    <h2 class="tittle">Talleres</h2>
    <p>Tecnología Avanzada</p>

    <div class="box-container">
        <div class="box box1" style="background-image: url('/images/inicio/taller1.jpg');">
            <h4>Reparaciones la 4°</h4>
        </div>
        <div class="box box2" style="background-image: url('/images/inicio/taller2.jpg');">
            <h4>Lamina y pintura</h4>
        </div>
        <div class="box box3" style="background-image: url('/images/inicio/taller3.jpg');">
            <h4>DR°</h4>
        </div>
    </div>
    <div class="box-container">
        <div class="box box1" style="background-image: url(/images/inicio/taller4.jpg);">
            <h4>KIA</h4>
        </div>
        <div class="box box2" style="background-image: url('/images/productos/taller5.jpg');">
            <h4>cONSECCIONARIO MELLOS</h4>
        </div>
        <div class="box box3" style="background-image: url('/images/productos/taller6.jpg');">
            <h4>AHUTO TUNING</h4>
        </div>
    </div>
    <div class="box-container">
        <div class="box box1" style="background-image: url(/images/productos/taller11.jpg);">
            <h4>Reparaciones los hermanos correa</h4>
        </div>
        <div class="box box2" style="background-image: url('/images/productos/taller9.jpg');">
            <h4>Chicas a la orden</h4>
        </div>
        <div class="box box3" style="background-image: url('/images/productos/taller10.jpg');">
            <h4>Motores el mono</h4>
        </div>
    </div>
</section>
        
                <footer>

                    <div class="container__footer">
                        <div class="box__footer">
                            <h2>Servicios</h2>
                            <a href="https://www.google.com">Conectividad para tu móvil</a>
                            <a href="#">Conectividad para tu hogar</a>
                            <a href="#">Entretenimiento</a>
                            <a href="#">Promociones</a>
                        </div>
                        <div class="box__footer">
                            <h2>Institucional</h2>
                            <a href="https://www.google.com">Autogestión</a>
                            <a href="#">Blog Claro</a>
                            <a href="#">Sala de prensa</a>
                            <a href="#">Trabaja con nosotros</a>
                        </div>

                        <div class="box__footer">
                            <h2>Soporte</h2>
                            <a href="#">WhatsApp</a>
                            <a href="#">App Mi Claro</a>
                            <a href="#">Autogestión</a>
                            <a href="#">Preguntas Frecuentes</a>
                        </div>

                        <div class="box__footer">
                            <h2>Redes Sociales</h2>
                            <a href="https://es-la.facebook.com/">
                                <i class="fab fa-facebook-square">
                                </i> Facebook</a>
                            <a href="https://twitter.com/">
                                <i class="fab fa-twitter-square">
                                </i> Twitter</a>
                            <a href="https://www.linkedin.com/login/es">
                                <i class="fab fa-linkedin">
                                </i> Linkedin</a>
                            <a href="https://www.instagram.com/">
                                <i class="fab fa-instagram-square">
                                </i> Instagram</a>
                        </div>
                    </div>
                    <div class="box__copyright">
                        <hr>
                        <p>Todos los derechos reservados © 2023 <b>etsa</b></p>
                    </div>
                </footer>
            </div>
        </section>
    </main>
</body>
</html>