<!DOCTYPE html>
<html lang="es">

<head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/style/login.css">
        <title>LOGIN</title>

</head>

<body>
        <div class="login-box"  >
                <img src="/pagina web telefonia/images/mi cuenta/imgprincilogin.jpg" alt="logo" class="avatar">
                <div class="form" >
                        <h1 class="logo">Registrate</h1>
                        <form>
                                <ul>
                                        <li>
                                                <label for="username">usuario</label>
                                                <input type="text" placeholder="ingrese nombre de usuario">

                                        </li>
                                        <li>
                                                <label for="password"> contraseña</label>
                                                <input type="password" placeholder="ingrese contraseña">
                                        </li>
                                      
                                        <li>
                                                <label for="password"> Nueva contraseña</label>
                                                <input type="password" placeholder="ingrese contraseña">
                                        </li>
                                        <li>
                                                <label for="password"> nombre y apellido</label>
                                                <input type="text" placeholder="ingrese contraseña">
                                        </li>
                                      
                                        <li>
                                                <label for="password"> Numero de telefono</label>
                                                <input type="text" placeholder="ingrese contraseña">
                                        </li>


                                </ul>
                                <button type="submit">
                                        <a href="/views/index.html">Ingresar</a>
                                </button>
                                <button type="submit">
                                        <a href="/views/login.html"> inicio</a>
                                </button>
                                
                               
                               

                        </form>

                </div>


                
                
        </div>

</body>

</html>