<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/estilos_login/agendamiento.css">
    <link rel="icon" href="/images/inicio/loguito..png">
    <title>etsa</title>
    <link rel="stylesheet" href="/style/login.css">
</head>

<body>
    <!-- divic -->
    <div class="login-box">
       <img src="/images/mi cuenta/images.png" alt="logo" class="avatar"> 
       <h1>Agendamiento</h1>
<!-- formulario -->
    <form>
        <label for="username">Nombre de usuario</label>
        <input type="text" placeholder="Ingrese Nombre De Usuario">
        <ion-icon name="pencil-outline"></ion-icon>
        <br>


        <label for="start">Agenda tu fecha</label>

        <input type="date" id="start" name="trip-start"
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31">

        <label for="email">Dirección de correo electrónico</label>
        <input type="email" name="email" placeholder="Ingrese correo electrónico">
        <ion-icon name="mail-unread-outline"></ion-icon>
        <br>
        <label for="email">Numero de celular</label>
        <input type="number" name="email" placeholder="Ingrese correo electrónico">
        <br>
        <!-- <a href="/pagina sensilla/html/index.html">index</a> -->
        <!-- <input type="submit" value="Ingresar"> -->
        <a class="login" href="/views/index.html">Enviar solicitud </a>
       


    </form>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>