<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/servicios.css">
    <link rel="shortcut icon" href="./images/1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/57d17138c5.js" crossorigin="anonymous"></script>
    <title>Movile</title>
</head>

<body>
    <!-- Encabezado -->
    <div class="head">
        <div class="logo">
            <a href="/views/index.html"><img src="/images/inicio/2.png"></a>
        </div>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <ul>
                <li><a href="/views/index.html">Inicio</a></li>
                <li><a href="/views/categorias.html">Categorias</a></li>
                <li><a href="/views/ofertas .html">Ofertas</a></li>
                <li><a href="/views/servicios.html">Servicios</a></li>
                <li><a href="/views/login.html">Mi Cuenta</a></li>
                <li><a href="https://www.mercadolibre.com.co/#from=homecom" target="_blank">
                        <i class="fa-sharp fa-solid fa-car"></i></a>
                </li>
            </ul>
        </nav>
    </div>

    <header class="content_header">
        <!-- Contenido del encabezado -->
    </header>
    <main>
        <!-- Sección de celulares -->
        <section class="content sau">
            <h2 class="tittle">Entretenimiento</h2>
            <p>tecnologia Avanzada</p>

            <div class="box-container">
                <div class="box1">

                </div>
                <div class="box2">

                </div>
                <div class="box3">

                </div>
            </div>
        </section>

        <!-- Sección de contacto -->
        <section class="content contact">
            <h2 class="Nuestras Redes Sociales"></h2>
            <div class="footer-section">
                <div>
                    <p>Contactanos</p>
                </div>
                <footer>

                    <div class="container__footer">
                        <div class="box__footer">

                            <h2>Servicios</h2>
                            <a href="https://www.google.com">Conectividad para tu móvil</a>
                            <a href="#">Conectividad para tu hogar</a>
                            <a href="#">Entretenimiento</a>
                            <a href="#">Promociones</a>

                        </div>
                        <div class="box__footer">
                            <h2>Institucional</h2>
                            <a href="https://www.google.com">Autogestión</a>
                            <a href="#">Blog Claro</a>
                            <a href="#">Sala de prensa</a>
                            <a href="#">Trabaja con nosotros</a>
                        </div>

                        <div class="box__footer">
                            <h2>Soporte</h2>
                            <a href="#">WhatsApp</a>
                            <a href="#">App Mi Claro</a>
                            <a href="#">Autogestión</a>
                            <a href="#">Preguntas Frecuentes</a>
                        </div>

                        <div class="box__footer">
                            <h2>Redes Sociales</h2>
                            <a href="https://es-la.facebook.com/">
                                <i class="fab fa-facebook-square">
                                </i> Facebook</a>
                            <a href="https://twitter.com/">
                                <i class="fab fa-twitter-square">
                                </i> Twitter</a>
                            <a href="https://www.linkedin.com/login/es">
                                <i class="fab fa-linkedin">
                                </i> Linkedin</a>
                            <a href="https://www.instagram.com/">
                                <i class="fab fa-instagram-square">
                                </i> Instagram</a>
                        </div>

                    </div>

                    <div class="box__copyright">
                        <hr>
                        <p>Todos los derechos reservados © 2023 <b>Ingrith</b></p>
                    </div>
                </footer>
            </div>
        </section>
    </main>
</body>

</html>